html {
    background-color: black;
}

body {
    display: block;
}

canvas {
    display: block;
    margin: 4vh auto;
    border: white;
    border-style: solid;
    border-width: 12px;
    
}